body {
    margin: 1px;
    padding: 0;
}

#container {
    display: flex;
}

#game {
    border: 1px solid black;
}

#buttons {
    margin: 20px;
    position: relative;
    font-size: 24px;
}

#buttons p {
    margin-left: 20px;
}

#gameover {
    margin: 20px;
    position: relative;
    font-size: 32px;
}

#gameover button {
    font-size: 24px;
}

#buttons button {
    font-size: 32px;
    padding: 2px;
}

#up-button {
    position: absolute;
    left: 70px;
}

#left-button {
    position: absolute;
    left: 0px;
}

#right-button {
    position: absolute;
    left: 120px;
}

#down-button, #shoot-button {
    position: absolute;
    left: 50px;
}

#cancel-button {
    position: absolute;
    left: 45px;
}

.shoot {
    background-color: #ffaa99;
}

.parent {
    width: 640px;
    height: 64px;
    /* Aligns the children items in a row direction */
    display: flex;
}

.child{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}